body {
  background: #020617;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
}

#emoji {
  font-size: 100px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 16px;
  margin-top: 12px;
  border: none;
  border-radius: 18px;
  font-size: 18px;
  background: #3b82f6;
  color: white;
}
